# Installed after PyTorch CUDA and JAX CUDA wheels.
accelerate
black
chex
datasets
einops
evaluate
flax
fsspec
huggingface-hub
ipython
jaxtyping
libcst
msgpack
numpy
optax
orbax-checkpoint
pandas
protobuf
pyarrow
pytest
rich
ruff
s3fs
safetensors
scikit-learn
scipy
sentencepiece
tensorboard
tokenizers
tqdm
transformers
tree-sitter
wandb
